<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block title%}
    <title>Foodfy</title>
    {%endblock%}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


</head>

<body>
    <header>
            <a class='linklogo' href="/"><img src="/images/logo.png" alt="Logo Foodfy"></a>
            <a class='link1' href="about">Sobre</a>
            <a class='link2' href="recipes">Receitas</a>
    </header>

    {%block content%}{%endblock%}

    <footer>
            <div class="copyright">
                <h>Todos direitos reservados, receitas Foodfy.</h>
            </div>
    </footer>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modalcontent"></div>

        </div>
    </div>

    <script src="/script.js"></script>

</body>
</html>
