<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block title%}
    <title>Foodfy</title>
    {%endblock%}
</head>

<body>
    <header>
            <a class='linklogo' href="/"><img src="/images/logo.png" alt="Logo Foodfy"></a>
            <a class='link1' href="about">Sobre</a>
            <a class='link2' href="recipes">Receitas</a>
    </header>

    {%block content%}{%endblock%}

    <footer>
            <div class="copyright">
                <h>Todos direitos reservados, receitas Foodfy.</h>
            </div>
    </footer>

</body>
</html>
